/**custom styles**/
.but-custom {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    margin: 2px 2px;
    cursor: pointer;
    min-height: 38px;
    min-width:90px;
}
.but-custom:hover {
    background-color: #329F36;
    font-size: 12pt;
}
.small_font{
    font-size: 10pt;
}
.signup_card{
    margin-top: 6px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-top: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav_heading_text{
    
}
.control-label{
    vertical-align: middle;
    float: right;
    font-weight:normal;
    padding-top: 5px;
    cursor: pointer;
}

.custom_invalid_field{
    border-color:#dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}

.date_picker{
    
}
.custom-nav-grey{
    background-color: #355552 !important;
    color: #FFFFFF !important;
}
.custom-nav-orange{
    background-color: #f97e12  !important;
    color: #FFFFFF !important;
}
.custom-nav-orange ul li .active{
    background-color: #db930b  !important;
}


/***** Table Styles ***/
.table_style {
    width: 100% !important;
    border-collapse: collapse;
    border: 1px solid #ddd !important;
    overflow-x: auto;
}

.table_style, .table_style td {
    border-bottom: 1px solid #ddd;
}

.table_style th, .table_style td {
    padding: 5px;
}

.table_style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_style tr:hover {
    background-color: #ddd;
}
.table_style tr:checked {
    background-color: #ddd;
}
.table_style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.yellow_header th{
    background-color: #A67E07 !important;
    color: #FFFFFF;
}
.blue_header th{
    background-color: #1a4c6a !important;
    color: #FFFFFF;
}


@media only screen and (max-width: 600px){
    .nav_heading_text{
        font-size: 14pt;
        font-weight: bold;
    }
}
